.hairExe_Grids .MuiPaper-elevation1{
    box-shadow: none !important;
}
.hairExe_Grids .MuiPaper-root{
    background-color: transparent !important;
}

.hairExe_Grids .leftBarGrid{
    background-color: #F5F5F5 !important;
    margin: 0 !important;
}
.rating-link a::before{
    color: #b3b3b3;
    content: '\2013';
    float: left;
    width: 3px;
    margin-right: 10px;
}

.color-span a::before{
    color: #b3b3b3;
    content: '\2013';
    float: left;
    width: 3px;
    margin-right: 10px;
}
.color-span .AnimatedShowMore__ToggleButton{
    width:100% !important;
    display: flex !important;
    cursor: pointer;
    justify-content: flex-end !important;
    color: #b3b3b3 !important;
    font-size: 11px !important;
}