.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .MuiDialog-paperWidthSm{
  max-width: 100% !important;
  width: 100% !important;
} */
.right-button-wishlist{
    /* position: absolute;
    right: 36px;
    bottom: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.price-wishList{
  font-weight: bold;
  text-align:  right;
  margin-bottom: 5px;
  font-size: 15px;
}
/* @media screen and (max-width: 749px) {
    .right-button-wishlist{
      margin-top: 12px;
      position: relative;
      text-align: center;
    }
    .price-wishList{
      text-align: center;
    }
} */